<div id="<%= dom_id team %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= team.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= team.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Visible:</strong>
    <%= team.visible? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Owner:</strong>
    <%= team.owner_id %>
  </div>
</div>
