<div id="<%= dom_id team %>" class="w-full sm:w-auto space-x-5 ">
  <% if team.visible? %>
    <span class="badge badge-success badge-sm badge-soft ml-2">
      <%= heroicon(:eye) %>
    </span>
  <% else %>
    <span class="badge badge-soft badge-warning badge-sm ml-2">
      <%= heroicon("eye-slash") %>
    </span>
  <% end %>
  <span>
    <%= link_to team.name, team_path(team) %>
  </span>
  <% if team.owner.visible? %>
    <span><%= team.owner.name %></span>
  <% end %>
</div>
