<% content_for :title, @team.name %>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 pt-4">
  <div class="flex flex-col items-center w-full text-center grow lg:grow-0">
    <div class="flex flex-row items-center w-full grow-0">
      <%= link_to teams_path, class: "btn btn-ghost btn-sm" do %>
        <%= heroicon "arrow-uturn-left", options: { class: "h-5 w-5" } %>
      <% end %>
      <h1 class="font-bold text-4xl w-full text-center">
        <%= @team.name %>
      </h1>
    </div>
    <p class="prose-sm text-left"><%= @team.description %></p>
    <% if TeamPolicy.new(Current.user, @team).edit? %>
      <%= link_to "Edit this team", edit_team_path(@team), class: "btn btn-primary btn-sm" %>
    <% end %>
    <%= link_to "Back to teams", teams_path, class: "btn btn-info btn-sm" %>
  </div>

  <%= turbo_frame_tag "ranked_lists", src: team_ranked_lists_path(@team) do %>
    Waiting for lists to load
  <% end %>

  <%= turbo_frame_tag "memberships", src: team_memberships_path(@team) do %>
    Waiting for members to load
  <% end %>
</div>
