<% content_for :title, "Ranked Lists - #{@team.name}" %>

<turbo-frame id="ranked_lists" %>
  <div class="w-full">
    <div class="flex justify-between items-center mb-4">
      <h1 class="font-bold text-2xl">Ranked lists</h1>
      <% if CurrentTeam.policy.create? %>
        <%= link_to "New ranked list", new_team_ranked_list_path(@team), class: "btn btn-accent btn-sm" %>
      <% end %>
    </div>

    <div class="flex justify-between items-center">
      <div id="ranked_lists" class="w-full gap-4">
        <% if @ranked_lists.any? %>
          <% @ranked_lists.each do |ranked_list| %>
            <% policy = RankedListPolicy.new(Current.user, ranked_list) %>
            <div class="w-full grid grid-cols-4 pb-5 sm:pb-0 grow-0 odd:bg-base-200 even:bg-base-300 items-center">
              <span>

                <%= link_to ranked_list.name, ranked_list %>
              </span>
              <span>
                Items: <%= ranked_list.items_count %>
              </span>
              <span>
                Votes: <%= ranked_list.votes_count %>
              </span>
              <div class="join join-horizontal  justify-self-end">
                <%= link_to "Show", ranked_list, class: "btn btn-primary btn-sm join-item" %>
                <%= link_to "Edit", edit_ranked_list_path(ranked_list), class: "btn-success btn btn-sm join-item" %>
                <%= button_to "Destroy", ranked_list, method: :delete, class: "btn btn-error btn-sm join-item", data: { turbo_confirm: "Are you sure?" } %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="text-center my-10">No ranked lists found.</p>
        <% end %>
      </div>
    </div>
  </div>
</turbo-frame>
