<div class="mx-auto prose">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= form_with(model: @user, class: "contents") do |form| %>
    <div class="flex flex-col items-center gap-y-5">
      <% if @user.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this @user from being saved:</h2>
          S
          <ul class="list-disc ml-6">
            <% @user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="w-full">
        <%= form.text_field :name, autofocus: true, autocomplete: "username",
                            placeholder: "Enter your name", value: @user.name,
                            class: "input" %>
      </div>

      <div class="w-full">
        <%= form.email_field :email_address, disabled: @user.persisted?, label: "Email",
                             placeholder: "Changing Email address is pending",
                             class: "input" %>
      </div>

      <%- if @user.new_record? %>
        <div class="w-full">
          <%= form.password_field :password, label: "Password", class: "input", placeholder: "Password 8-72 characters" %>
        </div>
        <div class="w-full">
          <%= form.password_field :password_confirmation, label: "Password", placeholder: "Confirm Password", class: "input" %>
        </div>
      <% end %>

      <div class="w-full">
        <%= form.label "Visible to other users? ", for: "user_visible" %>
        &nbsp;
        <%= form.checkbox :visible, class: "checkbox", checked: @user.visible %>
      </div>

      <div class="w-full">
        <%= form.label "Who I Am" %>
        <%= form.textarea :who_am_i, value: @user.who_am_i, class: "textarea prose" %>
      </div>

      <div class="inline">
        <%= form.submit class: "btn btn-primary" %>
        <% if @user.persisted? %>
          <%= link_to "Show this user", @user, class: "btn btn-secondary" %>
        <% end %>
        <%= link_to "Back to users", users_path, class: "btn btn-default" %>

      </div>
    </div>
  <% end %>
</div>


