<div class="mx-auto prose">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <h1>Register</h1>

  <%= form_with(model: @user, url: registration_path, local: true, class: "contents") do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="my-5">

      <%= form.text_field :name, required: true, autofocus: true, autocomplete: "username",
                          placeholder: "Enter your name (6-64 chars)", value: params[:name],
        class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2 mt-2 w-full",
                          maxlength: User::MAX_NAME_LENGTH, minlength: User::MIN_NAME_LENGTH %>
    </div>
    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email",
                           class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2 mt-2 w-full",
                           placeholder: "Enter your email address", value: params[:email_address] %>
    </div>
    <div class="my-5">
      <%= form.password_field :password, required: true, autocomplete: "current-password",
                              class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2 mt-2 w-full",
                              placeholder: "Enter your password  (8-64 chars)" %>
    </div>
    <div class="my-5">
      <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password",
                              placeholder: "Confirm password",
                              class: "block shadow-sm rounded-md border border-gray-400 focus:outline-solid focus:outline-blue-600 px-3 py-2 mt-2 w-full",
                              maxlength: User::MAX_PASSWORD_LENGTH, minlength: User::MIN_PASSWORD_LENGTH %>
    </div>

    <%= form.submit "Register", class:  "btn btn-primary" %>
  <% end %>

  <%= link_to "Login", new_session_path, class: "btn btn-secondary" %>
</div>
