<!-- Navbar -->
<nav class="navbar justify-between bg-base-300 items-center">
  <div class="flex flex-row align-center">
    <a class="btn btn-ghost text-lg" href="/">
      <%= heroicon "numbered-list", class: "size-6" %>
      Rank Everything
    </a>
    <nav class="breadcrumbs text-sm inline-block">
      <ul class="pt-1">
        <%= render_breadcrumbs tag: :li, separator: "" %>
      </ul>
    </nav>
  </div>

  <!-- Menu for mobile -->
  <ul class="menu lg:menu-horizontal bg-base-200 rounded-box">
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Users", users_path %></li>
    <% if Current.user %>
      <li><%= link_to "Logout", session_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?", turbo_frame: '_top' } %></li>
      <li><%= link_to Current.user.name, user_path(Current.user) %></li>
    <% else %>
      <li><%= link_to "Login", new_session_path %></li>
      <li><%= link_to "Signup", new_registration_path %></li>
    <% end %>
  </ul>
</nav>
<%= debug Current.session %>