<!-- Navbar -->
<nav class="navbar justify-between bg-base-300 items-center">
  <div class="flex flex-row align-center">
    <!-- Logo -->
    <a class="btn btn-ghost text-lg" href="/">
      <%= heroicon "numbered-list", class: "size-6" %>
      Rank Everything
    </a>
    <nav class="breadcrumbs text-sm inline-block">
      <ul class="pt-1">
        <%= render_breadcrumbs tag: :li, separator: "" %>
      </ul>
    </nav>
    <%#= render_breadcrumbs %>
  </div>
  <!-- Menu for mobile -->
  <div class="dropdown dropdown-end sm:hidden">
    <button class="btn btn-ghost">
      <%= heroicon "bars-3", class: "size-4" %>
      <i class="fa-solid fa-bars text-lg"></i>
    </button>

    <ul tabindex="0" class="dropdown-content menu z-[1] bg-base-200 p-6 rounded-box shadow w-56 gap-2">
      <li>
        <%= link_to "About", about_path %>
      </li>
      <li><a>Contact</a></li>
      <a class="btn btn-sm btn-primary">Log in</a>
    </ul>
  </div>

  <!-- Menu for desktop -->
  <ul class="hidden menu sm:menu-horizontal gap-2">
    <li>
      <%= link_to "About", about_path %>
    </li>
    <% if authenticated? %>
      <li>
        <%= Current.user.name %>
      </li>
    <% else %>
      <li>
        <%= link_to "Login", new_session_path, class: "btn btn-sm btn-primary" %>
      </li>
    <% end %>
  </ul>
</nav>